In [1]:
import pandas as pd
data = [18,40,17,22,19,313]
series = pd.Series(data)
print(series)

0     18
1     40
2     17
3     22
4     19
5    313
dtype: int64

In [2]:
import pandas as pd
data = [19,57,3,31,7,1]
series = pd.Series(data)
list_data = series.tolist()
print(list_data)
print(type(list_data))

[19, 57, 3, 31, 7, 1]
<class 'list'>

In [5]:
import pandas as pd
import numpy as np
exam_data = {'name':
['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
'attempts':[1,3,2,3,2,3,1,1,2,1],
'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
import pandas as pd
import numpy as np
exam_data = {'name':
['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
'attempts':[1,3,2,3,2,3,1,1,2,1],
'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index=labels)
print(df)
df.loc[df['name'] == 'James', 'name'] = 'Suresh'
# Display updated DataFrame
print("\nDataFrame  changing 'James' to 'Suresh':\n")
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame  changing 'James' to 'Suresh':

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
import pandas as pd
import numpy as np
exam_data = {'name':
['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
'attempts':[1,3,2,3,2,3,1,1,2,1],
'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(exam_data,index=labels)
print(df)

print ("\nAfter adding column grade\n")
df['grade'] = ['A','B','A','C','B','A','B','C','C','A']
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After adding column grade

        name  score  attempts qualify grade
a  Anastasia   12.5         1     yes     A
b       Dima    9.0         3      no     B
c  Katherine   16.5         2     yes     A
d      James    NaN         3      no     C
e      Emily    9.0         2      no     B
f    Michael   20.0         3     yes     A
g    Matthew   14.5         1     yes     B
h      Laura    NaN         1      no     C
i      Kevin    8.0         2      no     C
j      Jonas   19.0         1     yes     A

In [7]:
columns_list = list(df.columns)
print(columns_list)

['name', 'score', 'attempts', 'qualify', 'grade']